@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    font-family: 'Lexend Deca', sans-serif;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    background-color:  #f2f2f2;
}

#container {
    display: flex;
    justify-content: center;
    padding: 35px;    
    border-radius: 10px;
}

.sedans, .suvs, .luxury {
    height: 500px;
    width: 300px;
    word-wrap: break-word;
    padding: 45px;
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sedans {
    background-color: #e38826;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

.suvs {
    background-color: #006970;
}

.luxury {
    background-color: #004241;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

.img {
    width: 80px;
    height: 50px;
}
     

.title {
    font-family: 'Big Shoulders Display', cursive;
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    color: #f2f2f2;
}

.text {
    color: #ffffffbf;
    font-size: 13px;
}

.btn {
    height: 45px;
    width: 150px;
    border-radius: 30px;
    border: 2px solid #fff;
    background-color: transparent;
    font-family: 'Lexend Deca', sans-serif;
    color: #fff;
    font-weight: 500;
    transition: 0.7s;
}

.btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    #container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sedans {
        -webkit-border-top-left-radius: 0;
        -webkit-border-bottom-left-radius: 0;
    }
    

    .luxury {
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
    }
}